.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Cabin", sans-serif;
  padding-top: 30px;
  background-color: #ffcc0038;
}

.App h3 {
  text-shadow: 1px 1px 4px black;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.App h3 b {
  color: rgb(252, 212, 33);
}

form {
  display: flex;
  flex-direction: column;
}
h1 {
  margin-bottom: 20px;
}

.error {
  font-size: 12px;
  color: red;
  margin-left: 8px;
  margin-top: -5px;
  margin-bottom: 10px;
}
