body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.data-table-extensions > .data-table-extensions-filter {
  float: right;
  width: 30%;
  border: 1px solid #0e613f;
  border-radius: 14px;
  margin-top: 20px;
}

.data-table-extensions > .data-table-extensions-filter > .icon {
  height: 35px;
}

.data-table-extensions > .data-table-extensions-filter > .filter-text {
  float: left;
  width: 90%;
  height: 35px;
}

.rdt_TableHeader {
  background: #0e613f26 !important;
  border-top-left-radius: 30px !important;
  border-top-right-radius: 30px !important;
}

.rdt_TableHeader > .sc-fFucqa {
  text-align: left !important;
}

.rdt_TableHeadRow {
  background: #ffdd57 !important;
  height: 60px !important;
}

.rdt_TableCol_Sortable {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.eHijxz {
  border: 1px solid #dbe7e2;
}
